- alias: "Lancer la TV si stream sur Salon"
  trigger:
    platform: state
    entity_id: media_player.Salon
    from: 'off'
  action:
    - service: script.tv_chromecast_start
    - service: scene.turn_on
      entity_id: scene.cinema
- alias: "Arreter la TV si fin de stream sur Salon"
  trigger:
    platform: state
    entity_id: media_player.Salon
    from: 'playing'
    to: 'off'
  action:
    - service: script.tv_stop
    - service: scene.turn_on
      entity_id: scene.normal
