- alias: "TV - Lancer la TV si stream sur Salon"
  trigger:
    platform: state
    entity_id: media_player.Salon
    from: 'off'
  action:
    - service: script.tv_chromecast_start
    - service: scene.turn_on
      entity_id: scene.cinema

- alias: "TV - Arreter la TV si fin de stream sur Salon"
  trigger:
    platform: state
    entity_id: media_player.Salon
    from: 'playing'
    to: 'off'
  action:
    - service: script.tv_stop
    - service: scene.turn_on
      entity_id: scene.normal

- alias: "Volets - Fermer les volets"
  trigger:
    platform: numeric_state
    entity_id: sun.sun
    value_template: '{{ state.attributes.elevation }}'
    below: -4.5
  action:
    - service: cover.close_cover
      data:
        entity_id:
          - cover.cover_salle_a_manger
          - cover.cover_salon1
          - cover.cover_salon2
- alias: "Volets - Ouvrir les volets"
  trigger:
    platform: numeric_state
    entity_id: sun.sun
    value_template: '{{ state.attributes.elevation }}'
    above: -2
  action:
    - service: cover.open_cover
      data:
        entity_id:
          - cover.cover_salle_a_manger
          - cover.cover_salon1
          - cover.cover_salon2
