homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: 47.0358
  longitude: -1.6412
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 0
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Europe/Paris
  # Customization file
  customize: !include customize.yaml

# Show links to resources in log and frontend
introduction:

# Enables the frontend
frontend:

# Enables configuration UI
config:

http:
  ssl_certificate: /etc/letsencrypt/live/ha.home.arbey.fr/fullchain.pem
  ssl_key: /etc/letsencrypt/live/ha.home.arbey.fr/privkey.pem
  # Secrets are defined in the file secrets.yaml
  api_password: !secret http_password
  # Uncomment this if you are using SSL/TLS, running in Docker container, etc.
  # base_url: example.duckdns.org:8123

# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:
  # Optional, allows Home Assistant developers to focus on popular components.
  # include_used_components: true

# Discover some devices automatically
discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time
history:

# View all events in a logbook
logbook:

# Enables a map showing the location of tracked devices
map:

# Track the sun
sun:

# Weather prediction
sensor:
  - platform: yr

# Text to speech
tts:
  - platform: google

# Cloud
cloud:

# Google Assistant
google_assistant:
  project_id: home-assistant-197914
  client_id: 1WAyFK7uyXrpqf4Ud0G6wSnxkOgztx74g5w6lqsJw6bP7C9U1TJXCwMEQq6Dp9jQ78arbFZy61Aq0BCV 
  access_token: 6OPhTMVGPTQEEiGCaTEYc9eh47sj8833FGosEZRGubJHTTW09H80nvqUs2vtUZGasjSrFPikA0fg8pJG
  api_key: AIzaSyAdLrLDuWksoUMGXoLgg0DTaGq0hdPDp5o

python_script:

media_extractor:
  default_query: best[height<=720]

shell_command:
  chromecast_start: python_scripts/chromecast.sh
  tv_stop: python_scripts/stop.sh

scene: !include_dir_list scene/
switch: !include switchs.yaml
group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
